{% extends parent_template %}
{% block content %}
    <h1><i class="fa fa-cog"></i> Paramètres de l'application</h1>
    <hr>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Option de sécurités
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <h3>Authentification en deux facteurs</h3>
                    <hr>
                    <p class="text-justify">
                        L'authentification en deux étapes permet d'ajouter une sécurité supplémentaire à votre compte.
                        Un
                        deuxième facteur
                        de connexion
                        en plus du mot de passe est ajouté. Cette fonctionnalité s'utilise avec une application de type
                        <a
                                target="_blank"
                                href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=fr">
                            Google authenticator</a>
                        est utilisée.
                    </p>
                    {% if totp==false %}
                        <br>
                        <a href="{{ path("otp.active") }}" class="btn btn-success">
                            Activer authentification à deux facteurs pour plus de sécurité
                        </a>

                    {% else %}
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                            Désactiver authentification à deux facteurs
                        </button>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#code">
                            Afficher le QRCode
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="code" tabindex="-1" role="dialog" aria-labelledby="Code" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Récupération QRCode</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-center">
                                            <img src="{{ code }}" alt="QRCode">
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Désactivation de
                                            l'authentification à
                                            deux facteurs</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form action="{{ path("otp.desactive") }}" method="post">
                                        <div class="modal-body">
                                            <p class="text-danger">
                                                Pour décactiver l'authentification à deux facteurs veuillez saisir votre
                                                mot de
                                                passe
                                                ainsi que le code de vérification.
                                            </p>
                                            {{ csrf_input() }}
                                            {{ field("password", {type:"password", required:true, empty:true}) }}
                                            {{ field("code", {required:true, label:"Code de vérification", rule:"digit"}) }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger">Désactiver</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <hr>
                    <h3>Historique de connexion</h3>
                    <hr>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#log">
                        Consulter
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="log" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Historique des connexions</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {{ log | raw }}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                    Souscriptions
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                test
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                    Options
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                test
            </div>
        </div>
    </div>

{% endblock %}