{% extends parent_template %}
{% block content %}
    {% set newType="professionnel" %}
    {% set type="particulier" %}
    {% if values.siret is defined %}
        {% set newType="particulier" %}
        {% set type="professionnel" %}
    {% endif %}
    {% set identite= values.firstName|capitalize~" "~values.lastName|upper %}
    <h1>
        Détails: <b>{{ identite }}</b>
    </h1>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path("membre.clients") }}">Clients</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ identite }}</li>
        </ol>
    </nav>
    <hr>
    <form action="{{ path("membre.client.supprimer", {type:type, id:values.id}) }}" method="post">
        {{ csrf_input() }}
        <button type="submit" class="btn btn-danger danger-action"
                data-message="Voulez vous vraiment suprimer ce client et ce qui lui est rattaché ?">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Supprimer définitivement le client&nbsp;&nbsp;
        </button>
    </form>
    <br>

    {% if newType=="professionnel" %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            Passer de <b>{{ type }}</b> à <b>{{ newType }}</b>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Changement de type du client</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ path("membre.client.changer-type", {type:type, id:values.id}) }}" method="post">
                        <div class="modal-body">
                            {{ csrf_input() }}
                            {{ field("siret", {pattern:"[0-9]{14}", required:true}) }}
                            {{ field("compagny_name", {required:true}) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-primary">Valider les changements</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    {% else %}
        <form action="{{ path("membre.client.changer-type", {type:type, id:values.id}) }}" method="post">
            {{ csrf_input() }}
            <button class="btn btn-success">Passer de <b>{{ type }}</b> à <b>{{ newType }}</b></button>
        </form>
    {% endif %}


    <hr>
    <fieldset>
        <legend>Informations</legend>
        <form action="{{ path("membre.client.modifier", {type:type,id:values.id}) }}" method="post">

            {{ csrf_input() }}
            <hr>
            <h3>Indentité</h3>
            <hr>
            <div class="row">
                {{ field("first_name", {divClass:"col-6", required:true}) }}
                {{ field("last_name", {divClass:"col-6", required:true}) }}
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <label for="gender">Civilité</label>
                    <select class="form-control" name="gender" id="gender">
                        <option value="m" {{ values.gender=="m"?"selected":"" }}>Homme</option>
                        <option value="f" {{ values.gender=="f"?"selected":"" }}>Femme</option>
                    </select>
                </div>
            </div>
            <hr>
            <h3>Coordonnées</h3>
            <hr>
            <div class="row">
                {{ field("adress", {divClass:"col-xs-12 col-sm-6"}) }}
                {{ field("cp", {pattern:"[0-9]{5}", divClass:"col-xs-6 col-sm-3"}) }}
                {{ field("city", {divClass:"col-xs-6 col-sm-3"}) }}
            </div>
            <div class="row">
                {{ field("mail", {type:"email", divClass:"col-xs-12 col-sm-6"}) }}
                {{ field("phone", {pattern:"[0-9]{10}", divClass:"col-xs-12 col-sm-6"}) }}
            </div>
            {% if values.siret %}
                <hr>
                <h3>Entreprise</h3>
                <hr>
                <div class="row">
                    {{ field("siret", {divClass:"col-6", pattern:"[0-9]{14}", required:true}) }}
                    {{ field("compagny_name", {divClass:"col-6", required:true}) }}
                </div>
            {% endif %}
            <button type="reset" class="btn btn-warning">Annuler</button>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
        <hr>
        Modifié <b>{{ values.updatedAt | ago }}</b>
    </fieldset>
{% endblock %}
    {% block js %}

    {% endblock %}