{% extends parent_template %}
{% block content %}
    <h1>Bienvenue <strong>{{ users.firstName }}</strong> !</h1>
    <hr>
    {% if totp==false %}
        <a href="{{ path("params.show") }}">L'authentification à deux facteur n'est pas activée.</a>
    {% endif %}
    <hr>
    <button class="btn btn-dark modifier">Dévérouiller</button>
    <fieldset class="informations" disabled>
        <legend>Mes informations</legend>
        <form action="{{ path("membre.setInformations") }}" method="post">
            {{ csrf_input() }}
            <div class="row">
                {{ field("first_name", {required:true, divClass:"col-6"}) }}
                {{ field("last_name", {required:true, divClass:"col-6"}) }}
            </div>
            <div class="row">
                {{ field("birthday", {required:true, class:"datepicker",  divClass:"col-xs-12 col-sm-6"}) }}
            </div>
            <div class="row">
                {{ field("adress", {required:true, divClass:"col-xs-12 col-sm-6"}) }}
                {{ field("cp", {required:true, divClass:"col-xs-12 col-sm-3", pattern:"[0-9]{5}"}) }}
                {{ field("city", {required:true, divClass:"col-xs-12 col-sm-3"}) }}
            </div>
            <button type="submit" class="btn btn-primary btn-xs">Modifier</button>
            <button type="reset" class="btn btn-warning btn-xs">Annuler</button>
        </form>
    </fieldset>
    <hr>
    <fieldset class="informations" disabled>
        <legend>Mon entreprise</legend>
        <form action="{{ path("membre.setInformationsEntreprise") }}" method="post">
            <div class="row">
                {{ field("compagny_name", {required:true, divClass:"col-6"}) }}
                {{ field("siret", {required:true, pattern:"[0-9]{14}", divClass:"col-6"}) }}
            </div>
            <div class="row">
                {{ field("mail", {required:true,type:"email", divClass:"col-6"}) }}
                {{ field("phone", {required:true, pattern:"[0-9]{10}", divClass:"col-6"}) }}
            </div>
            <button type="submit" class="btn btn-primary btn-xs">Modifier</button>
            <button type="reset" class="btn btn-warning btn-xs">Annuler</button>
        </form>
    </fieldset>
{% endblock %}
{% block js %}
    {{ js("modifier.js") }}
    {{ js("checkPassword.js") }}
{% endblock %}