{% extends parent_template %}
{% block content %}
    <h1>Statistiques</h1>
    <hr>
    <p>
        <b>{{ nouveaux }}</b> nouveaux client ce mois-ci.
    </p>

    <hr>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <i class="fa fa-area-chart"></i> Statistique sur les 6 dernier mois
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <p>Moyenne: <b>{{ base.moyenne | number_format(2) }}</b></p>
                        <p>Mediane: <b>{{ base.mediane | number_format(2) }}</b></p>
                    </div>
                    <div class="col-6">
                        <p>Ecart type: <b>{{ base.ecartType | number_format(2) }}</b></p>
                        <p>Variance: <b>{{ base.variance | number_format(2) }}</b></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <i class="fa fa-area-chart"></i> Répartition des différents types de clients
            </div>
            <div class="card-body">
                <div id="chartdivDonut" style="width:100%;height:200px;font-size: 11px;"></div>
            </div>
        </div>

    </div>
</div>

    <hr>

    <input type="hidden" id="stats" value='{{ stats }}'>

    <div class="card mb-3">
        <div class="card-header bg-primary text-white">
            <i class="fa fa-area-chart"></i> Nombre de clients ajoutés au cours des derniers mois
        </div>
        <div class="card-body">
            <p>
                Les informations sont disponibles à titre informatif, vous pouvez télécharger un fichier CSV complet <a
                        href="{{ path("membre.stats.down") }}">ici.</a>
            </p>
            <input type="hidden" id="stats" value="{{ stats }}">
            <!-- HTML -->
            <div id="chartdiv" style="width:100%;height:500px;font-size: 11px;"></div>

        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script>
        var $arr = JSON.parse($("#stats").val());
        var tab=[];
        $.each($arr, function (i, value) {
            console.log(value);
            var object = {
               "Mois":value["Mois"],
               "Nombre d'entree":value["Nombre d'entree"]
            };
            tab.push(object);
        });
        console.log(tab);
        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "light",
            "dataProvider": tab,
            "valueAxes": [{
                "gridColor": "#FFFFFF",
                "gridAlpha": 0.2,
                "dashLength": 0
            }],
            "gridAboveGraphs": true,
            "startDuration": 1,
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "fillAlphas": 0.8,
                "lineAlpha": 0.2,
                "type": "column",
                "valueField": "Nombre d'entree"
            }],
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "Mois",
            "categoryAxis": {
                "gridPosition": "start",
                "gridAlpha": 0,
                "tickPosition": "start",
                "tickLength": 20
            },
            "export": {
                "enabled": false
            }

        });

        var chartDonut = AmCharts.makeChart( "chartdivDonut", {
            "type": "pie",
            "theme": "light",
            "dataProvider": [ {
                "title": "Professionnels",
                "value": {{ pro }}
            }, {
                "title": "Particuliers",
                "value": {{ part }}
            } ],
            "titleField": "title",
            "valueField": "value",
            "labelRadius": 5,

            "radius": "42%",
            "innerRadius": "60%",
            "labelText": "[[title]]",
            "export": {
                "enabled": false
            }
        } );

    </script>
{% endblock %}
{% block css %}

    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
{% endblock %}