{% extends parent_template %}
{% block content %}
    <form action="{{ path("connexion") }}" method="post" data-not-check="false">
        {{ csrf_input() }}
        {{ field("mail", {type:"email", required:true}) }}
        {{ field("password", {type:"password", required:true}) }}

        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="persist" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
        </div>

        <button class="btn btn-primary">Connexion</button>
    </form>
    <a href="{{ path("form.inscription") }}">Vous n'êtes pas inscrit ? </a>
{% endblock %}